extends ./layout.jade

block content
    div
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut unde, aspernatur minus hic nobis, eaque repudiandae ex commodi dolore beatae sed id. Architecto totam mollitia porro, fugit repellat similique soluta.